html,
body {
  margin: auto;
  background-color: white;
  color: black;
  font-family: Cambria, Georgia, serif;
  font-size: 15px;
  letter-spacing: 4px;
  font-style: normal;
}
.header {
  top:0;
  position: fixed;
  width: 100%;
  z-index: 999;
}
/* Header_inner */
.header_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 50px;
}
.header-bg {
  background-color: white;
}
/* Logo */
.logo {
  display: flex;
  justify-content: center;
  font-family: "Abril Fatface", cursive;
  font-size: 40px;
  color: white;
  text-align: center;
  align-items: center;
  letter-spacing: 15px;
  text-decoration: none;
}
.logo:hover{
  color: rgb(180, 180, 180);
  text-decoration: none;
}
/* Search */
.search {
  display: flex;
  padding-left: 15px;
}
.search_link {
  align-items: center;
  height: 30px;
  width: 30px;
  margin: 0 15px;
  display: flex;
}
.search-box {
	display: flex;
  border-radius: 40px;
  align-items: center;
}
.search-btn {
	display: flex;
	margin-right: 10px;
	color: #f0f0f0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
  text-decoration: none;
  width: 30px;
}
.search-txt {
	border: none;
	outline: none;
	background: none;
	padding: 0;
	color: #fff;
	font-size: 16px;
	transition: .4s;
	line-height: 40px;
  width: 0;
  height: 30px;
}
.search-box:hover .search-txt {
  width: 100px;
  padding: 0 10px;
  border-style: solid;
  border-width: 2.2px;
  color: black;
  border-radius: 40px;
}
/* .search-box:hover .search-btn {
  background-color: #ffffff;
} */
.search-btn:hover{
  filter: contrast(40%);
}

/* Nav */
.link{
  padding-left: 80px;
}
.nav {
  display: flex;
  height: 50px;
  width: 100%;
  text-align: center;
  align-items: center;
  font-size: 25px;
}
.nav_link {
  display: flex;
  justify-content: center;
  margin: 0 15px;
  align-items: center;
  color: black;
  text-decoration: none;
  transition: color 0.1s linear;
  position: relative;
}
.nav_link:after {
  display: flex;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  display: none;
  background-color: rgb(65, 65, 65);
  position: absolute;
  opacity: 0;
  top: 90%;
  left: 0;
  z-index: 1;
  transition: opacity 0.1s linear;
}
.nav_link:hover {
  display: flex;
  color: rgb(65, 65, 65);
  text-decoration: none;
}
.nav_link:hover:after {
  display: flex;
  display: block;
  opacity: 1;
}
/* Icon */
.icon {
  display: flex;
}
.icon_link {
  height: 30px;
  width: 30px;
  margin: 0 15px;
  z-index: 99;
}
.icon_link img {
  display: flex;
}
.icon_link img:hover{
  filter: contrast(40%);
}
.SignUp{
  max-width: 500px;
  justify-content: center;
  display: inline-block;
  margin-top: 24px
}
.signup_title{
  justify-content: center;
  font-size: 25px;
  letter-spacing: 1px;
  padding-top: 20px;
  
}
.signup_test{
  justify-content:center;
  font-family: "Caveat", cursive;
  font-size: 25px;
  text-align: center;
  letter-spacing: 2px;
}
.signup_content{
  padding: 50px;
}
.modal-open .modal {
  padding-right: 0 !important;
}
.modal-content {
  border-radius: inherit;
  border: none;
}
.modal.show .close span {
  background: transparent;
}
.modal.show .close:focus {
  outline: none;
}
.modal.show .close:hover {
  outline: none;
}
.modal-body {
  padding: unset;
  font-size: 20px;
}
.col-8{
  padding: unset;
}

button.close {
  padding: 12px 12px 0 0;
}
label {
  float: left;
  font-size: initial;
  margin-bottom: .5rem;
  letter-spacing: 1px;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 0 0 50px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-size: 15px;
  border: solid;
  border-width: thin;
  border-color: #00000030;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  }
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.icon {
  display: flex;
  background: transparent;
  cursor: pointer;
  border: none;
}
.icon:focus {
  border: none;
  outline: none;
}
.icon:hover {
  border: none;
}
.icon:hover {
  display: flex;
  color: rgb(65, 65, 65);
  text-decoration: none;
}
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
.signupbtn {
  background-color: black;
  width: 100%;
  color: white;
  border: unset;
  padding: 10px;
  margin-bottom: 10px;
}
.signupbtn:hover{
  color: white;
  text-decoration: none;
  background-color: rgb(65, 65, 65);
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
.remember{
  margin-top: -30px;
  margin-bottom: 50px;
}
.polityka a{
  letter-spacing: 1px;
  font-size: 15px;
  color: rgb(100, 100, 100);
  text-decoration: none;
}
.polityka a:focus {
  border: none;
  outline: none;
}
.polityka a:hover {
  color: black;
  text-decoration: none;
}

/* INTRO */
.intro {
  background-image: url("/img/footer/blok.jpg");
  background-color: #eeebe6;
  background-size: 100%;
  background-size: cover;
  background-position: center;
  margin-top: 100px;
  height: 200px;
}
.text-above {
  top: 30%;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 1;
}
.carousel_title {
  font-size: 50px;
  font-family: "Abril Fatface";
}
.carousel_text {
  font-size: 20px;
  font-family: "Abril Fatface";
}
span {
  letter-spacing: 6px;
}

/* Tabele*/
.tab_roz a {
  color: black;
  outline: 0;
  font-size: 25px;
}
.tabele{
  text-align: center;
}
.tab_title{
  padding: 50px;
}

.tabele-menu{
  margin: 15px 50px 0 50px;;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 70px;
  background-color: transparent;
}
table {
  display: table;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}
.table td, .table th {
  padding: 5px;
  vertical-align: top;
  border: 1px solid #dee2e6;
  letter-spacing: 1px;
}

.self-service-question a {
  text-decoration: underline;
  color: #474747;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: .49px;
  cursor: pointer;
}
.cmspage a {
  color: #7d7976;
  outline: 0;
}
.tab-pane.tab-table .dropdown {
  margin-bottom: 35px;
}
.tab-pane.active {
  display: block;
}

.tab-pane {
  display: none;
}
.tab-pane.tab-table .dropdown table th, .tab-pane.tab-table .dropdown table td {
  border: 1px #ddd solid;
  padding: 3px;
  text-align: center;
}
.tab-pane.tab-table .dropdown table tr>th {
  width: 25%;
  text-align: center;
  font-size: 10px;
  line-height: 1;
  padding: 7px 0 5px 0;
  overflow: hidden;
}

.tab-pane.tab-table .dropdown table th {
  color: #000;
}
span{
  letter-spacing: 1px;
}
.end-img {
  width: 100%;
}


/* Footer */
.bg-footer {
  margin-top: 50px;
  background-color: black;
  color: white;
  letter-spacing: 0px;
}
.footer_logo {
  font-size: 30px;
  display: flex;
  justify-content: center;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 15px;
  padding-bottom: 50px;
}
.footer_box{
  margin: 30px 0px;
}
.text_center {
  background-color: #eeebe6;
  color: black;
}
.text-nav {
  color: white;
}
.text-nav img{
  margin-right: 5px;
}
.text-nav img:hover{
  filter: contrast(0%);
}
.text-nav:hover {
  color: rgb(65, 65, 65);
  text-decoration: none;
}
.company-nav {
  color: black;
}
.company-nav:hover {
  color: rgb(65, 65, 65);
  text-decoration: none;
}
button:focus{
  outline: none;
}
.section-mob{
  display: none;
}
.list-unstyled {
  padding-left: 0;
  padding-top: 20px;
  text-align: start;
  list-style: none;
  line-height: 35px;
}
.text-uppercase {
  text-transform: uppercase!important;
  text-align: initial;
}
.text-uppercase2 {
  text-transform: uppercase!important;
  text-align: center;
  padding-bottom: 24px;
}
/* font-family: 'Biryani', sans-serif; */



/* mobile */
@media (max-width: 768px){
  video{
    margin-top: 50px;
  }
  .slick-slide img{
    margin-top: 50px;
  }
  .slick-prev:before, .slick-next:before{
    display: none;
  }
  .header-mob{
    background-color: white;
    height: max-content;
    top: 0;
    bottom: 0;
    position: fixed;
    left: -100%;
    width: 100%;
    z-index: 2;
    transition: left .5s cubic-bezier(.77,.2,.05,1);
  }
  .header-mob.open{
    left: 0;
  }
  .icon_link img, .search_link img {
    height: 25px;
    width: 25px;
  }
  .search_link{
    margin-right: 10px;
    width: 25px;
    height: 25px;
  }
  .logo{
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 0;
  }
  .stories3 img{
    width: 100%;
  }
  .nav{
    height: auto;
  }
  .icon{
    align-items: center;
  }
  .icon_link{
    width: 25px;
    height: 25px;
    margin: 0 5px;
    background: none;
    border: none;
    padding: 0;
  }
  .icon_cross{
    display: flex;
    align-self: start;
    margin-top: 15px;
  }
  .link{
    align-items: baseline;
  }
  .icon_link-margin{
    margin-right: 10px;
  }
  .bg-section1{
    background-size: 85%;
    margin-top: 0;
  }
  .bg-section1 .window_right{
    display: none;
  }
  .bg-section2{
    background-size: 50%;
  }
  .section-desk{
    display: none;
  }
  .bg-section2 .section_window{
    flex-direction: row;
    width: 100%;
    height: 150px;
  }
  .section_text{
    bottom: 65px;
  }
  .section_text h2{
    text-align: center;
    font-size: 26px;
    padding: 0 35px 20px 35px;
  }
  .section-mob{
    flex-direction: column;
    display: flex;
  }
  .section-mob-img{
    width: 100%;
  }
  .window_left{
    margin-top: 50px;
    padding: 0 5px;
  }
  .window_right, .window_right_bottom{
    margin-top: 50px;
    padding: 0 5px;
  }
  .section_window {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
  }
  .bg-section3{
    background-size: 85%;
  }
  .bg-section3 .window_left{
    display: none;
  }
  .carousel_title{
    font-size: 24px;
  }
  .stories2, .stories3, .stories4, .stories5{
    padding-top: 20px;
  }
}
@media(max-width: 575px){
  .link{
    align-items: baseline;
    margin: 50px 0;
  }
}